<template>
    <div class="quizUI">
        <p class="quizUIP">Quiz time!</p>

        <table class="quizUITable">
            <tr>
                <th class="QuizUITableTHTD">Available Quizzes:</th>
                <th class="QuizUITableTHTD">Scores:</th>
            </tr>
            <tr>

            <tr>
                <td>

                    <label><input type="radio" id='quiz1' name="quiz"> Quiz#1</label>

                </td>
                <td>

                    <label for='regular'>-</label>

                </td>
            </tr>
            <tr>
                <td>

                    <label><input type="radio" id='quiz2' name="quiz"> Quiz#2</label>

                </td>
                <td>

                    <label for='express'>-</label>

                </td>
            </tr>
            <tr>
                <td>

                    <label><input type="radio" id='quiz3' name="quiz"> Quiz#3</label>

                </td>
                <td>

                    <label for='express'>-</label>

                </td>
            </tr>
        </table>


        <div id="takeQuizButton">
            <button @click="takeQuizButtonFunction">Start</button>
        </div>


        

    </div>
    </template>

<style src="./quiz.css"></style>
<script src="./quiz.js"></script>