<template>
    <div class="quiz">
        <div id="quiz">
            <h1 id="quiz-name"></h1>
            <button id="submit-button">Submit Answers</button>
            <button id="next-question-button">Next Question</button>
            <button id="prev-question-button">Previous</button>

            <div id="quiz-results">
                <p id="quiz-results-message"></p>
                <p id="quiz-results-score"></p>
            </div>
        </div>
        </div>
</template>

<script src="../quiz/quiz.css"></script>