<template>
    <div>
        <ul id="ul">
            <li id="li"><a href="/"><img src="../../../wwwroot/images/loginIcon.png"><br />Login</a></li>
            <li id="li"><a href="/signup"><img src="../../../wwwroot/images/signupIcon.png"><br />Sign up</a></li>
            <li id="li"><a href="/assignedQuizzes"><img src="../../../wwwroot/images/quizIcon.png"><br />Take a quiz</a></li>
            <li id="li"><a href="/reviewQuizzes"><img src="../../../wwwroot/images/reviewIcon.png"><br />Review quizzes</a></li>
            <li id="li"><a href="/" @click="logOut"><img src="../../../wwwroot/images/loginIcon.png" style="transform:rotate(180deg)"><br />Logout</a></li>
        </ul>
    </div>
</template>

<style src="./navmenu.css" ></style>
<script src="./navmenu.ts"></script>