body {
    margin: 0;
   // background-image: url("../../../wwwroot/images/bg.jpg");
   background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 45px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-family: Sylfaen;
}


    li a:hover:not(.active) {
        background-color: #ff6a00;
        color: white;
    }
