<template>
    <div>
        <nav-menu></nav-menu>
        <h5 class="assignedQuizzesTitle">Quizzes you have been assigned:</h5>
        <v-layout>
            <v-flex class="assignedQuizzesListUI">
                <div v-if="isLoaded">
                    <ul v-if="quizzes.length != 0">
                        <li v-for="quiz in quizzes">
                            <div id="selectQuizButton" v-if="quiz.grade == null">
                                <button class="selectQuizButton" @click="selectQuizButtonFunction(quiz.id)">Quiz # {{ quiz.id }}</button>
                            </div>
                            <div id="selectQuizButton" v-else>
                                Quiz # {{ quiz.id }} has been completed with a grade of {{ quiz.grade }}.
                            </div>
                        </li>
                    </ul>
                    <ul v-else>
                        Sorry, you do not currently have any quizzes assigned.
                    </ul>
                </div>
            </v-flex>
        </v-layout>
    </div>
</template>

<style src="./assignedQuizzes.css"></style>
<script src="./assignedQuizzes.ts"></script>