.assignedQuizzesTitle {
    color: #007bff;
    font-family: Georgia;
}

.assignedQuizzesUIP {
    padding-top: 20px;
    color: #007bff;
    font-family: Georgia;
    font-size: 2.5rem;
}

.assignedQuizzesUITable {
    width: 100%;
    color: #ff6a00;
    padding: 15px;
    text-align: left;
}
td, th {
    padding: 15px;
    text-align: left;

}

#takeQuizButton {
    display: flex;
    align-items: center;
}
