<template>
    <div class="displayQuestionStepOneUI">
        <p class="displayQuestionStepOneUIP">
            What is the first step in solving this linear equation for X?
        </p>
        <div v-if="isLoaded">
            <table class="displayQuestionStepOneUITable">
                <tr>
                    <th class="displayQuestionStepOneUIPTHTD">{{ A }} = {{ B }} (X - {{ C }})</th>
                </tr>
                <tr>
                <tr>
                    <td>
                        <li> Divide both sides by {{ A }}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li> Add {{ C }} to both sides</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li> Multiply both sides by {{ B }}</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li> Divide both sides by {{ B }}</li>
                    </td>
                </tr>
            </table>

            <div id="answerQuestionStepButton">
                <button @click="answerQuestionStepButtonFunction">See answer</button>
            </div>

        </div>
    </div>
</template>

<style src="./reviewDisplayQuestionStepOne.css"></style>
<script src="./reviewDisplayQuestionStepOne.ts"></script>
