<template>
    <div class="quizUI">
        <p class="quizUIP">Question 1 is complete, only 2 more to go!</p>

        <table class="quizUITable">
            <tr>
                <th class="QuizUITableTHTD">Select when you are ready for your next question:</th>
            </tr>
            <tr>

            <tr>
                <td>
                    <div id="GoToNextQuestionButton">
                        <button class="questionButton" @click="goToNextQuestionButtonFunction">Proceed To Question 2</button>
                    </div>
                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
        </table>
    </div>
</template>

<style src="./reviewGoToQuestionTwo.css"></style>
<script src="./reviewGoToQuestionTwo.ts"></script>