#wel {
    color: steelblue;
}

#im1 {
    position: relative;
    left: 30px;
    bottom: 65px;
    max-height: 800px;
    max-width: 470px;
}

blockquote {
    position: relative;
    left: 50px;
    bottom: 50px;
}

footer {
    color: darkorange;
}

#admin {
    font-size: 1.8em;
    position: relative;
    left: 80px;
}

body {
    background-color: lightgray;
}

#list1 {
    position: relative;
    right: 250px;
}

#qa {
    color: darkorange;
}

#rep {
    color: darkorange;
}