<template>
    <div>
        <br />
        <h1 id="wel">Welcome to Neural Pathways!</h1>
        <br />
        <div id="admin"><strong>Administration Main Menu</strong></div>
        <ul>
            <li><a href="/quizassign">Assign a Quiz</a></li>
            <li><a href="/reports">View Reports</a></li>
        </ul>
        <br />
        
        <v-container fluid>
            <v-slide-y-transition mode="out-in">
                <v-layout column align-center>
                    <img src="/dist/img/Welcome.png" id="im1" alt="Welcome">
                    <blockquote>
                        &#8220;The mind is not a vessel to be filled, but a fire to be ignited.&#8221;
                        <footer>
                            <small>
                                <em>&mdash;Plutarch</em>
                            </small>
                        </footer>
                    </blockquote>
                </v-layout>
            </v-slide-y-transition>
        </v-container>
</div>
</template>

<style src="./adminmain.css"></style>