<template>
    <div>
        <!--<img src="../../../wwwroot/images/logo.png" alt="logo" class="center">-->
        <div class="form">
            <div id="login">
                <h2>Sign up</h2>
                <form action="/">
                    <h7>First Name*:</h7>
                    <div class="field-wrap">
                        <label>
                            <span class="req"></span>
                        </label>
                        <input type="text" id="firstName" required autocomplete="off" />
                    </div>
                    <h7>Last Name*:</h7>
                    <div class="field-wrap">
                        <label>
                            <span class="req"></span>
                        </label>
                        <input type="text" id="lastName" required autocomplete="off" />
                    </div>
                    <h7>Email*:</h7>
                    <div class="field-wrap">
                        <label>
                            <span class="req"></span>
                        </label>
                        <input type="email" id="userEmail" required autocomplete="off" />
                    </div>
                    <h7>Password*:</h7>
                    <div class="field-wrap">
                        <label>
                            <span class="req"></span>
                        </label>
                        <input type="password" id="userPassword" required autocomplete="off" />
                    </div>

                    <h7>Role*:</h7>
                    <div class="field-wrap">
                        <label>
                            <span class="req"></span>
                        </label>
                       <h6>Student</h6>
                        <input type="radio" name="drone" id="studentRole" value="student" checked /><br>

                        <h6>Teacher</h6>
                        <div class="radio">
                            <input type="radio" id="teacherRole"
                                   name="drone" value="teacher" />

                        </div>
                    </div>


                    <button class="button" @click="signUnFunction">Sign up</button>
                </form>

            </div>

        </div>

    </div>
</template>

<style src="./signup.css"></style>
<script scr="./signup.ts"></script>