

/* Full-width input fields  */
.signupInput[type=text], .signupInput[type=password], .signupInput[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    .signupInput[type=text]:focus, .signupInput[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
.signupButton {
    background-color: #ff6a00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 2;
    }

.signupTitle {
    padding-top: 20px;
    color: #007bff;
    font-family: Georgia;
}

.signupP {
    color: white;
}
