<template>
    <div class="quizUI">
        <p class="quizUIP">Quiz</p>

        <table class="quizUITable">
            <tr>
                <th class="QuizUITableTHTD">Questions:</th>
                <th class="QuizUITableTHTD">Scores:</th>
            </tr>
            <tr>

            <tr>
                <td>
                    <div id="QuestionOneButton">
                        <button class="questionButton" @click="questionOneButtonFunction">Question 1</button>
                    </div>
                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
            <tr>
                <td>
                    <div id="QuestionTwoButton">
                        <button class="questionButton" @click="questionTwoButtonFunction">Question 2</button>
                    </div>
                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
            <tr>
                <td>
                    <div id="QuestionThreeButton">
                        <button class="questionButton" @click="questionThreeButtonFunction">Question 3</button>
                    </div>
                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
        </table>


        <div id="completeQuizButton">
            <button class="completeQuizButton" @click="completeQuizButtonFunction">Complete Quiz</button>
        </div>

    </div>
</template>

<style src="./quizPage.css"></style>
<script src="./quizPage.ts"></script>