<template>
    <div class="quizUI">
        <p class="quizUIP">Quiz</p>

        <table class="quizUITable">
            <tr>
                <th class="QuizUITableTHTD">Questions:</th>
                <th class="QuizUITableTHTD">Scores:</th>
            </tr>
            <tr>

            <tr>
                <td>

                    <label><input type="radio" id='question1' name="question"> Question#1</label>

                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
            <tr>
                <td>

                    <label><input type="radio" id='question2' name="question"> Question#2</label>

                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
            <tr>
                <td>

                    <label><input type="radio" id='question3' name="question"> Question#3</label>

                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
        </table>




        <div id="takeQuestionButton">
            <button @click="takeQuestionButtonFunction">Start</button>
        </div>

    </div>
</template>

<style src="./quizPage.css"></style>
<script src="./quizPage.ts"></script>