<template>
    <div>
        <img src="../../../wwwroot/images/logo.png" alt="logo" class="center">
        <div class="form">
            <div id="login">
                <h2>Log in</h2>
                <form action="/">
                    <h7>Email:</h7>
                    <div class="field-wrap">
                        <label>
                            <span class="req"></span>
                        </label>
                        <input type="email" id="userEmail" required autocomplete="off" />
                    </div>
                    <h7>Password:</h7>
                    <div class="field-wrap">
                        <label>
                            <span class="req"></span>
                        </label>
                        <input type="password" id="userPassword" required autocomplete="off" />
                    </div>


                    <button class="button" @click="loginButtonFunction">Log In</button>

                    <h7>New user? <a href="/signup">Sign up here!</a></h7>


                </form>

            </div>

        </div>

    </div>
</template>

<style src="./home.css"></style>
<script src="../home/home.ts"></script>