<template>
    <div class="quizUI">
        <p class="quizUIP">Thats it, Quiz complete</p>

        <table class="quizUITable">
            <tr>
                <th class="QuizUITableTHTD">Click when you are ready to submit:</th>
            </tr>
            <tr>

            <tr>
                <td>
                    <div id="GoToNextQuestionButton">
                        <button class="questionButton" @click="goToNextQuestionButtonFunction">Submit Quiz</button>
                    </div>
                </td>
                <td>

                    <label>-</label>

                </td>
            </tr>
        </table>
    </div>
</template>

<style src="./submitQuizPage.css"></style>
<script src="./submitQuizPage.ts"></script>