<template>
    <div style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: lightgray; border-top-color: black;
         border-top-style: solid; border-top-width: 75px;">

        <h3 id="quizassignment"><strong>Quiz Assignment</strong></h3>
        <label id="label1">Students</label>
        <label id="label2">Quizzes</label>
        <div>
            <form id="checkboxes1">
                <!-- Dynamically populated checkboxes for students here -->
            </form>
            <form id="checkboxes2">
                <!-- Dynamically populated quizzes/checkboxes here-->
            </form>
            <button type="button" id="btn1" onclick="window.alert('Quizzes have been assigned')">Assign</button>
        </div>
        <img src="../../../wwwroot/images/logo.png" alt="logo" id="img2">
        <ul id="list2">
            <li><a id="qa" href="/adminmain">Main Menu</a></li>
            <li><a id="qa" href="/reports">View Reports</a></li>
            <li><a id="rep" href="/">Logout</a></li>
        </ul>
    </div>
</template>

<style src="./quizassign.css"></style>
<script src="./quizassign.ts"></script>